@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import "tailwindcss";

@layer components {
  .text-cream {
    @apply text-[#F8FFE8];
  }

  .text-green {
    @apply text-[#E2FEA5];
  }

  .bg-cream {
    @apply bg-[#FCFAC2];
  }

  .container {
    @apply w-[300px] md:w-[1200px] mx-auto;
  }

  .bg-green {
    @apply bg-[#E2FEA5];
  }

  .hover\:bg-green:hover {
    @apply bg-[#E2FEA5];
  }

  .font-dela {
    font-family: "Dela Gothic One", sans-serif;
  }

  .font-bricolage {
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

body {
  background: rgb(60, 87, 75);
  font-family: "Bricolage Grotesque", sans-serif;
}
