@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import "tailwindcss";

@theme inline {
  --color-bg-green: rgb(226, 254, 165);
  --color-bg-cream: rgb(252, 250, 194);
  --color-customgreen: rgb(226, 254, 165);
  --color-customcream: rgb(248, 255, 232);
}

@layer components {
  .container {
    @apply w-[300px] md:w-[1200px] mx-auto;
  }

  .font-dela {
    font-family: "Dela Gothic One", sans-serif;
  }

  .font-bricolage {
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

body {
  background: rgb(60, 87, 75);
  font-family: "Bricolage Grotesque", sans-serif;
}
